.container {
    width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.altura {
    height:850px ;
}

a {
    text-decoration: none;
    font-size: 17px;
}

p {
    font-size: 17px;
}

a:hover {
    color: #0D6EFD !important;
}

i {
    font-size: 25px;
}

.solisocio {
    border: 1px solid black;
}

.fondoEquipo {
    margin-left: 10px;
    background-color: #2665c3;
}